:root {
  --main-background-color: #ffffff;
  --secondary-color: #1b274a;
  --main-font: "Roboto", sans-serif;
  --accent-color: #ff7800;
  --active-color: #ffa14d;
  --secondary-accent-color: #3897f0;
  /* --icons-color: #afb1b8;
  --transition-duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
  border: 0;
}
ul,
ol {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header {
  display: block;
}
input,
button,
textarea {
  font-family: inherit;
}
button {
  cursor: pointer;
}
a,
a:visited,
a:hover {
  text-decoration: none;
}

.link {
  display: inline-block;
  color: inherit;
}

/* .section {
  padding-top: 94px;
  padding-bottom: 94px;
} */

body {
  font-family: var(--main-font);
  background-color: var(--main-background-color);
  color: var(--secondary-color);
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.header__contacts {
  max-width: 1920px;
  background-color: var(--secondary-color);
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.header__contacts-flex {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
.adress {
  display: flex;
  align-items: center;
}
.adress__icon {
  fill: #ffffff;
  margin-right: 8px;
}
.adress__link {
  /* color: inherit; */
}
.adress__link:active,
.adress__link:visited {
  color: var(--active-color);
  text-decoration: dashed underline;
}
.adress__link:hover {
  color: var(--accent-color);
}
.timetable {
  display: flex;
  align-items: center;
}
.timetable__icon {
  fill: #ffffff;
  margin-right: 8px;
}
.phones__list {
  display: flex;
}
.phone__item:not(:last-child) {
  margin-right: 15px;
}
.phone__link {
  display: flex;
  align-items: center;
}
.phone__link:hover,
.phone__link:focus {
  color: var(--accent-color);
}
.phone__link:active {
  color: var(--active-color);
}
.phone__icon {
  fill: #ffffff;
  margin-right: 8px;
}
.phone__link:hover .phone__icon,
.phone__link:focus .phone__icon {
  fill: var(--accent-color);
}
.header__contacts-btn {
  display: flex;
  align-items: center;
  padding: 15px 40px;
  background-color: var(--accent-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  color: #ffffff;
}
.header__contacts-btn-icon {
  margin-right: 8px;
  fill: #ffffff;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}
.logo {
  display: flex;
  align-items: center;
  color: var(--secondary-color);
}
.logo__img {
  margin-right: 11px;
}
.logo__text {
  display: flex;
  flex-direction: column;
}
.logo__boldtext {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.32;
  margin-bottom: 10px;
}
.logo__smalltext {
  font-weight: 500;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.01em;
}
.menu {
  display: flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: var(--secondary-color);
}
.menu__item:not(:last-child) {
  margin-right: 40px;
}
.menu__link:hover,
menu__link:focus {
  color: var(--accent-color);
}
.hero {
  position: relative;
  display: flex;
  padding-top: 48px;
  padding-bottom: 80px;
}
.hero::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--active-color);
  border-radius: 8px;
}
.hero__content-part {
  max-width: 574px;
}
.hero__title {
  /* margin-top: 48px; */
  margin-bottom: 48px;
  font-weight: 500;
  font-size: 46px;
  line-height: 1.5;
}

.hero__missiontext {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.5;
}
.hero__item {
  position: relative;
  padding-left: 47px;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.5;
}
.hero__item::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  top: 12px;
  left: 31px;
  border-radius: 50%;
  background-color: var(--accent-color);
  background-size: contain;
}
.hero__bold-item {
  font-weight: 400;
}
.hero__item:not(:last-child) {
  margin-bottom: 32px;
}
.hero__doctortext {
  margin-top: 48px;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.5;
}
.hero__image-part {
  position: relative;
  flex-grow: 1;
}
.hero__image-part::before {
  display: inline-block;
  position: absolute;
  content: "";
  width: 160px;
  height: 160px;
  top: 140px;
  left: 25px;
  background-image: url(../img/hero/paw-hurt_desk.png);
  background-size: contain;
}
.hero__image-part::after {
  position: absolute;
  content: "";
  width: 194px;
  height: 198px;
  background-image: url(../img/hero/veterinary.png);
  background-size: contain;
  bottom: 137px;
  right: -130px;
}
.hero__img {
  position: absolute;
  width: 499px;
  height: 388px;
  top: 120px;
  left: 160px;
  pointer-events: none;
}
/* .hero__img::before {
  display: inline-block;
  position: absolute;
  content: "";
  width: 160px;
  height: 160px;
  top: 31px;
  left: -129px;
  background-image: url(../img/hero/paw-hurt_desk.png);
  background-size: contain;
}
.hero__img::after {
  position: absolute;
  content: "";
  width: 194px;
  height: 198px;
  background-image: url(../img/hero/veterinary.png);
  background-size: contain;
  display: inline-block;
  bottom: 0;
  right: 0;
} */
.vacancies {
  position: relative;
  padding-top: 96px;
  padding-bottom: 64px;
}
.vacancies::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 1px;
  bottom: 0;
  right: 0;
  background-color: var(--active-color);
  border-radius: 8px;
}
.vacancies__title {
  font-weight: 500;
  font-size: 46px;
  line-height: 1.5;
  color: var(--secondary-color);
  margin-bottom: 48px;
}
.vacancies__list {
  position: relative;
  padding-left: 70px;
  padding-right: 50px;
  /* padding-top: 48px; */
  padding-bottom: 64px;
}
/* .vacancies__list::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #3897f0;
  border-radius: 8px;
} */
.vacancies__item:not(:last-child) {
  margin-bottom: 32px;
}
.vacancies__position {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}
.vacancies__position-title {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.25;
  color: #3897f0;
}
/* .vacancies__position::after {
  position: absolute;
  top: 0;
  right: 0;
  content: "Подробнее:";
  width: 20px;
  height: 20px;
  background-image: url(../img/sprite.svg);
  background-size: contain;
  fill: #3897f0; 
} */
.moredetails {
  display: flex;
  align-items: center;
}
.moredetails-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  color: #3897f0;
  margin-right: 18px;
}
.moredetails-icon {
  width: 20px;
  height: 20px;
  fill: #3897f0;
}
.vacancies__reguirements {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: var(--secondary-color);
}
.vacancies__reguirements-list {
  padding-left: 58px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.vacancies__reguirements-item {
  position: relative;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
}
.vacancies__reguirements-item:not(:last-child) {
  margin-bottom: 18px;
}
.vacancies__reguirements-item::before {
  position: absolute;
  top: 12px;
  left: -30px;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--accent-color);
}
.vacancies__doctortext {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.5;
}
.vacancies__tasks {
  margin-top: 48px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
}
.vacancies__conditions {
  margin-top: 16px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
}
.vacancies__tasks-list,
.vacancies__conditions-list {
  padding-left: 30px;
  padding-top: 32px;
  padding-bottom: 32px;
  counter-reset: list;
}
.vacancies__tasks-item,
.vacancies__conditions-item {
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  counter-increment: list;
}
.vacancies__tasks-item:not(:last-child),
.vacancies__conditions-item:not(:last-child) {
  margin-bottom: 18px;
}
.vacancies__tasks-item::before {
  content: counter(list) ". ";
  font-weight: 400;
  font-size: 22px;
  line-height: 1.5;
  color: var(--accent-color);
}
.vacancies__conditions-item::before {
  content: counter(list) ". ";
  font-weight: 400;
  font-size: 22px;
  line-height: 1.5;
  color: var(--accent-color);
}
.btn {
  padding: 18px 32px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
  background-color: var(--accent-color);
  border-radius: 4px;
  border: none;
}
.btn:hover,
.btn:focus {
  background-color: var(--active-color);
}
.vacancies__btn {
  margin-top: 48px;
}

.advantages {
  position: relative;
  padding: 96px 0px 64px 0px;
}
.advantages::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--active-color);
  border-radius: 8px;
}
.advantages__title {
  font-weight: 500;
  font-size: 46px;
  line-height: 1.5;
  margin-bottom: 48px;
}
.advantages__item:not(:last-child) {
  margin-bottom: 120px;
}
.advantages__row {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.advantages__item:nth-child(2n) .advantages__row {
  flex-direction: row-reverse;
}
.advantages__img {
  max-width: 570px;
}
.advantages__description {
  max-width: 500px;
}
.advantages__subtitle {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
  margin-bottom: 32px;
}
.advantages__text {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.5;
}

.doctor {
  padding-top: 120px;
  padding-bottom: 120px;
}
.doctor__row {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.doctor__image-part {
  position: relative;
}
.doctor__img-wrapper::before {
  content: " ";
  width: 144px;
  height: 144px;
  position: absolute;
  top: 100px;
  left: -160px;
  background-image: url(../img/doctorinfo/paw.png);
  background-position: center;
  background-repeat: no-repeat;
}

.doctor__img-wrapper::after {
  z-index: 1;
  position: absolute;
  top: 112px;
  left: -72px;
  content: "";
  width: 570px;
  height: 534px;
  background-image: url(../img/doctorinfo/ellipse_desc.png);
}
.doctor__img {
  position: relative;
  z-index: 5;
}
.doctor__information {
  position: absolute;
  z-index: 10;
  bottom: -50px;
  left: -34px;
  width: 500px;
  height: 125px;
  padding: 24px 100px;
  background: #ffffff;
  box-shadow: -7px 7px 18px rgb(27 39 74 / 16%);
  border-radius: 10px;
}
.doctor__information::after {
  content: " ";
  position: absolute;
  top: -24px;
  right: -22px;
  width: 82px;
  height: 82px;
  border-radius: 50%;
  background-color: var(--active-color);
  background-image: url(../img/doctorinfo/stethoscope\ 1.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.doctor__name {
  margin-bottom: 18px;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.5;
  text-align: center;
  color: var(--secondary-color);
}
.doctor__position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #222222;
}

.doctor__form-part {
  max-width: 470px;
}
.doctor__form-part::after {
  position: absolute;
  bottom: -20px;
  right: -135px;
  content: "";
  width: 135px;
  height: 135px;
  background-image: url(../img/doctorinfo/veterinary_desc.png);
  background-repeat: no-repeat;
}
.doctor__title {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.5;
  color: var(--secondary-color);
}
.doctor__cta {
  margin-bottom: 48px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--secondary-color);
}

.doctor__form {
  display: flex;
  flex-direction: column;
}
.doctor__form-field {
  position: relative;
}
.doctor__form-input {
  width: 100%;
  height: 34px;
  border: none;
  border-bottom: 1px solid #c2c2c2;
  background-color: transparent;
  margin-bottom: 24px;
}
.doctor__form-label {
  position: absolute;
  left: 0;
  top: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(27, 39, 74, 0.32);
  transition: transform 250ms linear;
}
.doctor__form-input:focus + .doctor__form-label,
.doctor__form-input:not(:placeholder-shown) + .doctor__form-label {
  color: var(--secondary-color);
  transform: translateY(-100%);
}
.doctor__form-label-comment {
  display: block;
  margin-bottom: 14px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: var(--secondary-color);
}
.doctor__form-textarea {
  width: 100%;
  height: 110px;
  border: none;
  border-bottom: 1px solid #c2c2c2;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.25;
  color: var(--secondary-color);
  margin-bottom: 48px;
}
.doctor__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.doctor__checkbox-icon {
  /* display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 8px;
  border: 1px solid var(--active-color);
  margin-right: 24px; */
  position: absolute;
  top: 2px;
  margin-left: -48px;
  width: 24px;
  height: 24px;
  border-radius: 8px;
  border: 1px solid var(--active-color);
}
.doctor__checkbox-policy {
  /* display: flex;
  align-items: center; */
  position: relative;
  padding-left: 48px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: rgba(27, 39, 74, 0.64);
}
.doctor__policy-link {
  color: var(--accent-color);
}
.doctor__checkbox:checked + .doctor__checkbox-icon {
  background-image: url(../img/doctorinfo/full-check.svg);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
}

.doctor__btn {
  margin-top: 32px;
  width: 184px;
}
.social-media {
  padding-top: 23px;
  padding-bottom: 23px;
  background-color: rgba(56, 151, 240, 0.1);
}
.social-media__list {
  display: flex;
  justify-content: center;
}
.social-media__item:not(:last-child) {
  margin-right: 65px;
}
.social-media__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.33;
  color: var(--active-color);
  background-color: var(--active-color);
}
.social-media__icon {
  /* margin-right: 24px;
  border-radius: 50%;
  background-color: var(--active-color); */
  fill: #ffffff;
}
.social-media__item-wrapper {
  display: flex;
  align-items: center;
}
.social-media__link-name {
  margin-left: 24px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.33;
  color: var(--active-color);
}
.social-media__link:hover {
  background-color: var(--accent-color);
}
/* .social-media__link + .social-media__link-name {
  color: #3897f0;
} */
.social-media__link:hover + .social-media__link-name {
  color: var(--accent-color);
}
.social-media__link-name:hover {
  color: var(--accent-color);
}
.map {
  position: relative;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
#map {
  height: 702px;
  width: 100%; /* The width is the width of the web page */
}
.information {
  position: absolute;
  padding: 64px 100px;
  top: 48px;
  left: 0;
  width: 740px;
  height: 606px;
  background-color: #ffffff;
}
.adresstitle {
  /* width: 570px; */
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
  color: #1b274a;
}
.metro {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 32px;
}
.metro-text {
  margin-left: 18px;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.5x;
  color: #1b274a;
}
.metro::after {
  content: "";
  position: absolute;
  bottom: -18px;
  left: 0;
  width: 69px;
  height: 2px;
  background: rgba(255, 195, 141, 0.64);
  border-radius: 8px;
}
.stops {
  margin-top: 52px;
  margin-bottom: 52px;
}
.stops-title {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.5x;
  color: #1b274a;
  margin-bottom: 18px;
}
.stops-list {
  position: relative;
}
.stops-list::after,
.parking::after {
  content: "";
  position: absolute;
  bottom: -18px;
  left: 0;
  width: 69px;
  height: 2px;
  background: rgba(255, 195, 141, 0.64);
  border-radius: 8px;
}
.stops-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #6d758b;
}
.stops-item:not(:last-child) {
  margin-bottom: 18px;
}
.parking {
  position: relative;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.5x;
  color: #1b274a;
  margin-bottom: 68px;
}
.footer {
  padding-top: 42px;
  padding-bottom: 24px;
  background-color: #1b274a;
  background-image: linear-gradient(rgb(27, 39, 74, 0.7), rgba(27, 39, 74, 0.7)),
    url(../img/Beagle-Dog-Puppy-PNG.png);
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-position: right top;
}

.footer__contacts-icon {
  fill: #3897f0;
}
.footer__subtitle {
  display: inline-block;
  margin-bottom: 16px;
  color: #3897f0;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
}
.footer__contacts-list {
  margin-bottom: 26px;
}
.footer__contacts-item:not(:last-child) {
  margin-bottom: 10px;
}
.footer__contacts-link {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.footer__contacts-adresslink {
  display: block;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: dashed;
}
.footer__contacts-link:hover,
.footer__contacts-link:focus,
.footer__contacts-adresslink:hover,
.footer__contacts-adresslink:focus {
  color: var(--active-color);
}
.footer__menu-link {
  color: #ffffff;
}
.footer__menu-link:hover,
.footer__menu-link:focus {
  color: var(--active-color);
}
.footer__menu-item,
.footer__departments-item {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.33;
}
.footer__menu-item:not(:last-child),
.footer__departments-item:not(:last-child) {
  margin-bottom: 10px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  width: 760px;
  margin-bottom: 22px;
}
.logo-dark {
  color: #ffffff;
}
.logo__boldtext-footer {
  font-size: 40px;
}
.logo__smalltext-footer {
  font-size: 14px;
}
.footer__logo {
  margin-right: 100px;
}
.footer__socialmedia-list {
  display: flex;
}
.footer__thumb {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.footer__socialmedia-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffffff;
}
.footer__socialmedia-link:hover,
.footer__socialmedia-link:focus {
  background-color: var(--active-color);
}

.footer__socialmedia-item:not(:last-child) {
  margin-right: 15px;
}
.footer__socialmedia-icon {
  fill: #1b274a;
}
.footer__copyright {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
}
.footer__copyright::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  content: "";
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 8px;
}
.footer__copyright-text {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.33;
}
.footer__copyright-menu {
  display: flex;
}
.footer__copyright-link {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.33;
}
.footer__copyright-link:hover,
.footer__copyright-link:focus {
  color: var(--active-color);
}
.footer__copyright-link:not(:last-child) {
  margin-right: 30px;
}
